/check_model.py
/danh_sach_cot.pkl
/data_hu_hong
/env
/model_linear.pkl
/model_tree.pkl
/mo_hinh_gia_xe.pkl
/phantich.ipynb
/runs
/run_model.py
/temp_car_1771828843.jpg
/train_all_models.py
/train_yolo.py
/yolov8n.pt
/__pycache__